@import 'nib'


coolify()
  border 1px solid light
  border-radius 5px
  margin: 5px 0
  padding: 8px 10px
  box-shadow: 0 1px 1px 0 rgba(light, 0.6), 0 0 3px 1px rgba(light, 0.1)

.information
  position: absolute;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.30);
  width: 190px;
  padding: 5px;
  color: whiteSmoke;
  font-size: 13px;

.information:hover 
  position: absolute;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.30);
  width: 190px;
  padding: 5px;
  color: whiteSmoke;
  font-size: 13px;